@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

:root{
    --backgroundColor : #0d0e1d;
    --grayColor: #D1CECA;
    --white: #ffffff;
    --bluelight:#32b0be;
    --fuente: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--backgroundColor);
    font-family: var(--fuente);


    }

  .main-header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--backgroundColor);
    position: fixed;
    width: 100%;
    top:0;
    z-index: 300;
  }


  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .3s linear;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }

  .main-nav.show{
    margin-left: 0;
  }

  .nav-links{
    background-color:var(--grayColor);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    font-weight:400;
  }

  .link-item{
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  .link-item::after {
    position: absolute;
    content: "";
    background-color: var(--backgroundColor);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }

  .link-item:hover::after {
    width: 100%;
    border-radius: 3px;
  }

  .button-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12px;

    position: absolute;
    left: 85vw;
  }

  .button-menu span{
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--white);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }

  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }

  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-6px, 3px)
  }

  .button-menu.close span:nth-child(3){
    display: none;
  }


  .main{
    margin-top:50px;
    padding: 0 15px;
  }

  .home-content{
    width: 160px;
  }

  .home{
    position: relative;
  }
  .home-name{
    padding: 5px 0;
    /* padding: 10px 0; */
    width: 115px;
    /* width: 140px; */
    border-bottom:solid 4px var(--white);
  }
  .home-flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .home-name>.title{
    text-transform:capitalize;
    font-size: 20px;
    font-weight:400;
    color: var(--white);
    line-height: 30px;
    /* line-height: 40px; */
    /* font-size: 25px; */
    
  }

  .home-name>.title >span{

    font-weight:600;
    color: var(--bluelight);
    letter-spacing: 1.5px;
    font-size: 35px;
/* 
    letter-spacing: 1.8px;
    font-size: 45px; */
  }

  .home-programmer{
    padding: 12px 0;
    width: 250px;
  }

  .home-programmer>.title2{
    color: var(--white);
    font-size: 18px;
    /* font-size: 20px; */
    font-weight: 400;
    text-transform: capitalize;
   }

   .home-experience{
    padding: 20px 0 10px 0 ;
    padding-left: 10px;

   }

   .home-experience>.title2{
    text-transform: capitalize;
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;

    /* font-size: 20px; */


  }

  .home-experience>.title2 >span{

    font-weight:700;
    color: var(--bluelight);
   }

   .home-social>div{
     display: flex;
     justify-content: space-evenly;
      /* flex-direction: column; */
    }

   .home-social>div>img{
     background-color: var(--grayColor);
     padding: 3px;
     width: 20px;
     border-radius: 25%;
     opacity: 90%;

   }



  .home-photo>.img270px{
    position: absolute;
    top:30px;
    left: 4vw;
    z-index: 2;
}
  .home-photo> .img300px, .img310px, .img320px, .img400px, .img420px , .img450px, .img500px, .img530px, .img600px, .img650px{
    display: none;
  }

  .span{
    position: absolute;
    top:20px;
    left: 12vw;
    padding: 120px;
    opacity: 25%;
    border-radius: 50%;
    background-color: var(--grayColor);
  }



    .home-icons{
      z-index: 7;
      bottom: -200px;
      left: 12vw;
      width: 75%;
      position: absolute;
      border-radius: 15px;
      /* opacity: 25%; */
      padding:  5px;
      background-color:  #494d55;
    }

    .home-icons-flex{
      display: flex;
      justify-content: space-around;
    }
    .home-photo>.home-icons>div>.home-icons-hijo {
      width: 40px;
      padding: 4px;
      border-radius: 50%;
      opacity: 70%;

      background-color: var(--white)
    }



    .aboutme{
      margin-top: 230px;
      padding: 10px 2px;

    }

    .aboutme>h3{
    text-transform: capitalize;
    color: var(--bluelight);
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
    }

    .aboutme>p{

      color: var(--white);
      font-weight: 400;
      text-align:justify;
      font-size: 15px;
      /* padding: 10px 15px; */

      }

      .servicios{
        padding: 10px 2px;
        margin-top: 30px;

      }


      .servicios>h3{
        text-transform: capitalize;
        color: var(--bluelight);
        font-weight: 700;
        text-align: center;
        font-size: 22px;
        padding-bottom: 15px;
        }






      .row{
        display: block;
        white-space: nowrap;
      /*   flex-wrap: wrap; */
      /*   flex-direction:row; */
        overflow-x: scroll;
      /*   flex-wrap: nowrap; */
        padding-bottom: 20px;
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
      }

      .row.scrolled:after{
        opacity: 0;
      }
      .row:after{
        transition: opacity 1s;
        opacity: 0.85;
        content: ">";
        color: #7ea6bf;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 25px;
        position: absolute;
        right: 5px;
        top: 80px;
        width: 50px;
        height: 50px;
        background-color: white;
        box-shadow: 5px 5px 20px hsla(221, 78.9%, 25%, 10%);

        z-index: 10;
      }

      div.col:nth-of-type(1){
        margin-left: 180px;
      }

      div.col:last-of-type{
        margin-right: 20px;
      }

      .col{
        border-radius: 15px;
        padding: 10px 15px 10px 15px;
        color: #18334a;
        background: linear-gradient(18deg, rgb(165, 180, 196) 0%, rgb(109, 152, 198) 100%);      /*   background-color: #cfe1f2; */
        margin: 10px;
        display: inline-block;
        flex-direction: column;
        box-shadow: 5px 5px 20px hsla(221, 78.9%, 25%, 10%);
      }

      .col h3{
        margin-bottom: 5px;
      }

      .col img{
        border-radius: 5px;
        object-fit:cover;
        width: 100%;
        /* height: 200px; */
      }

      h3{
      margin: 0px;
      }

      .flx-50{
        width:240px;
      }


      .spacer{
        height: 40px;
      }


      .os-scrollbar-handle{
        background: #2667f2 !important;
      }

      .deviant-scrollbars > .os-scrollbar-horizontal {

        left: 180px !important;
      }
      .deviant-scrollbars > .os-scrollbar-vertical {
        left: 0;
        bottom: 0;
        right: auto;
        top: 10px;
        height: 20%;
      }
      .deviant-scrollbars.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
        top: 0;
      }
      .deviant-scrollbars.os-host-scrollbar-vertical-hidden > .os-scrollbar-horizontal {
        left: 0;
      }


          .deviant-scrollbars> .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
        max-width: 1000px;
        min-width: 30px;
      }

      div.col:nth-of-type(1){
          margin-left: 20px;
        }
  
  
  
  @media screen and (min-width:340px) {
        .home-photo>.img270px{
        
          left: 8vw;
      }


      .span{
        left: 14vw;
      }
    }
  @media screen and (min-width:360px) {

    .home-name{
        padding: 10px 0;
          width: 140px;
    }

    .home-name>.title{
        line-height: 40px;
      font-size: 25px;
    }
    
    .home-name>.title >span{
      letter-spacing: 1.8px;
      font-size: 45px; 
    }

    .home-programmer>.title2, .home-experience>.title2 {
          font-size: 20px;
    }

    .home-photo>.img270px{
      display: none;
    }
   .home-photo>.img300px{
    position: absolute;
    display: block;
    top:30px;
    left: 7vw;
    padding: 5px;
    z-index: 6;
  /* display:none; */
}


.span{
  top:35px;
  left: 12vw;
  padding: 140px;
}
  }

  @media screen and (min-width:380px) {

    .home-icons{

      width: 68vw;
    }
  }

  @media screen and (min-width:404px) {
   
    .home-photo>.img300px{
      display:none
    }

    .home-photo>.img310px{
      display: block;
      position: absolute;
      top:60px;
      left:12vw;
      z-index: 5;

    }


    .span{
      top:20px;
      left: 12vw;
      padding: 160px;
    }



    .home-icons{
      bottom: -240px;
      left: 12vw;
      width: 75vw;
    }

    .aboutme
    {
      margin-top: 290px;
    }

    .home-icons{
      bottom: -260px;
      left: 12vw;
      padding: 12px 10px;
    }

    
    .home-photo > .home-icons > div > .home-icons-hijo {
      width: 40px;
      padding: 8px;
    }
  }


  @media screen and (min-width:420px) {
    .home-icons{

      width: 71vw;
    }
  }

  @media screen and (min-width:450px) {

    .button-menu{
    position: static;
    left: 0;
    }

    .home-name{
      width: 180px;
    }
    .-home-name>.title{
      font-size: 35px;
      line-height: 50px;
    }

    .home-name>.title >span{

      letter-spacing: 2px;
      font-size: 55px;
     }

     .home-programmer>.title2, .home-experience>.title2{
      font-size: 25px;
     }

     .home-social>div>img{
      padding: 1vw;
      width: 4vw;

    }
   


    .home-photo>.img310px{
      display:none;

    }
      .home-photo>.img400px{
        display: block;
        position: absolute;
        top:20px;
        left:6vw;
        z-index: 5;
      }

      .span{

        /* top:35px; */
        left: 13vw;
        padding: 170px;
      }

      .home-icons{

        /* bottom: -250px; */
        left: 18vw;
        width: 65vw;
      }

  }

  @media screen and (min-width:460px){
    .home-photo>.img400px{

      left:8vw;

    }
    .span{

      left: 15vw;
      padding: 170px;
    }
  }

  @media screen and (min-width:485px){
    .home-photo>.img400px{

      left:12vw;

    }
    .span{

      left: 19vw;
    }
    .home-icons{
      /* bottom: -250px; */
      left: 20vw;
      width: 65vw;
    }
  }

  @media screen and (min-width:500px) {
    .home-icons{
      /* bottom: -250px; */
      left: 20vw;
      width: 60vw;
    }
  }

  @media screen and (min-width:540px) {
    .home-icons{

      width: 57vw;
    }

  }
  @media screen and (min-width:570px) {

    .home-photo>.img400px{
      display: none;
    }

    .home-photo>.img420px{
      display: block;
      position: absolute;
      top:10vh;
      left:14vw;
      z-index: 5;
    }

    .span{
      top:3vh;
      padding: 35vw;
      /* padding: 200px; */
      left: 16vw;
    }
    .home-icons{
      bottom: -340px;
      left: 20vw;
      width: 60vw;
    }

    .aboutme
    {
      margin-top: 370px;
    }
  }

  @media screen and (min-width:600px) {
    .home-photo>.img420px{
      display: block;
      position: absolute;
      top:10vh;
      left:16vw;
      z-index: 5;
    }

  }

  @media screen and (min-width:660px) {
    .home-name {
      width: 200px;
    }
  
    .home-name>.title{
    line-height: 6vh;
    font-size: 5vw;
  }

  .home-name>.title >span{
    font-size: 9vw; 
  }


  .home-programmer>.title2, .home-experience>.title2 {
    font-size: 4vw;
}

    
    
    .home-photo>.img420px{
    display: none;
    }


    .home-photo>.img450px{
      display: block;
      position: absolute;
      top:6vh;
      left:15vw;
      z-index: 5;
      }
  }

  @media screen and (min-width:680px) {
    .home-photo>.img450px{
      left:17vw;
      }
  }

  @media screen and (min-width:704px) {
    .home-photo>.img450px{
      left:17vw;
      }

      .span{
        top:0vh;
        padding: 35vw;
        /* padding: 200px; */
        left: 16vw;
      }
  }
  @media screen and (min-width:735px) {
    .home-photo>.img450px{
      left:18vw;
      }
  }

  @media screen and (min-width:755px) {
    .home-photo>.img450px{
      left:19vw;
      }


  }


  @media screen and (min-width:774px) {

    .home-photo > .home-icons > div > .home-icons-hijo {
      width: 6vw;
      padding: 10px;
    }
    .home-name {
      width: 230px;
    }
  
    .home-photo>.img450px{
      display: none;
      }

      .home-photo>.img500px{
        display: block;
        left:15vw;
        position: absolute;
        z-index: 5;
        top:45px;

        }




        .span{
          top:1vh;
          padding: 33vw;
          left: 17vw;
        }

        .home-icons{
          bottom: -350px;
          left: 20vw;
          width: 60vw;
        }

        .aboutme {
          margin-top: 420px;
        }


  }


  @media screen and (min-width:790px) {
      .home-photo>.img500px{
        left:17vw;
        }
  }

  
  @media screen and (min-width:850px) {
    .home-photo>.img500px{
      left:19vw;
      }

      .home-name>.title{
        line-height: 8vh;}

        .home-icons {
          bottom: -320px;
        }
}


@media screen and (min-width:880px) {
 
  .home-icons{
    bottom: -310px;
    /* margin-bottom: 30px; */
  }

  
  .aboutme {
    margin-top: 440px;
  }

}

@media screen and (min-width:900px) {
  .home-photo>.img500px{
    left:21vw;
    }

    .home-icons {
      bottom: -320px;
    }
    .aboutme {
      margin-top: 460px;
    }
}

@media screen and (min-width:925px) {
  .main {
    margin-top: 90px;
    /* padding: 0 15px; */
  }
  .home-name {
    width: 270px;
  }
  .span{
    top:-1vh;
    padding: 30vw;
    left: 19vw;
    
  }

  .home-icons {
padding: 20px 0;  }

}

@media screen and (min-width:990px) {
  .home-photo>.img500px{
    left:22vw;
    }


}

@media screen and (min-width:1010px) {
  .home-photo>.img500px{
    left:23vw;
    }


}




  /*todo PARA DESkTOP*/
  @media screen and (min-width:1024px) {
    
    
        .main-nav{
          position: static;
          height: 100%;
          width: 70%;
        }
        
        .button-menu{
          display: none;
        }  
        
            .nav-links{
                justify-content: space-around;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                background-color: var(--backgroundColor);
            }
        
            .link-item:hover{
                color: var(--bluelight);
            }
        
        
            .link-item{
        
                color: var(--white);
                display: inline-block;
                margin-top: 0;
                margin-right: 2rem;
            }
        
    .home-icons {  
      bottom: -420px;
      border-radius: 7px;
      width: 85vw;
      left: 65px;
      padding: 36px 0;
    }  

    .home-photo > .img500px {
      top: 100px;
    }
    .home-photo > .home-icons > div > .home-icons-hijo {
      width: 7vw;
      padding: 8px 30px;
      border-radius: 10px;
    }  

    .span {
      top: -4vh;
  
    }
 
  }

  @media screen and (min-width:1080px) {
    
        .home-programmer {
          width: 350px;
        }
        .home-photo>.img500px{
          display: none;
          }

        .home-photo>.img530px{
          position: absolute;
          display: block;
          top: 100px;
          left:23vw;
          z-index: 7;
          }
    
  }

  @media screen and (min-width:1080px) {
  
    .home-photo>.img530px{
      left:24vw;
      }
  }
  @media screen and (min-width:1164px) {
    .home-photo>.img530px{
      left:25vw;
      }
  }

  


  @media screen and (min-width:1182px) {
  
    .main {
      margin-top: 110px;
    }
      .span {
        top: -6vh;
      }
  }

  @media screen and (min-width:1222px) {
    .main {
      margin-top: 130px;
    }
    .span {
      top: -8vh;
    }

    .home-photo>.img530px{
      display: none;
      }

      .home-photo>.img600px{
        position: absolute;
        z-index: 7;
        top: -14px;
        display: block ;
        left:24vw;
        }
  }

  @media screen and (min-width:1266px) {

    .home-icons {
  
      left: 75px;
    }
    .main {
      margin-top: 145px;
    }
    .span {
      top: -10vh;
    }
    .home-photo>.img600px{
      left:25vw;
      }
  }

  @media screen and (min-width:1300px) {
    .main {
      margin-top: 160px;
    }
    .span {
      top: -12vh;
    }
    .home-photo>.img530px{
      left:28vw;
      }

  }

  @media screen and (min-width:1300px) {
    
   

        .span {
          top: -12vh;
          padding: 28vw;
          left: 21vw;
        }
  
    
  
  }
  @media screen and (min-width:1373px) {

    .home-icons {
      left: 87px;
    }


    .home-photo>.img600px{
      left:26vw;

    }

  }

  @media screen and (min-width:1414px) {
    /* .home-photo>.img600px{
      left:27vw;
      top:-66px;


    } */

  }


  @media screen and (min-width:1463px) {

    .home-photo>.img600px{
      display: none;
     }
    .home-photo>.img650px{
      position: absolute;
      z-index: 7;
      top:-60px;
      display: block ;
      left:25vw;
      }

      .home-icons {
        bottom: -412px;
    
      }
  



  }


  

  

  

  
  