@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

:root{
    --backgroundColor : #0a0c18;
    --grayColor: #D1CECA;
    --white: #ffffff;
    --bluelight:#32b0be;
    --fuente: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--backgroundColor);
    font-family: var(--fuente);


    }

  .main-header{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--backgroundColor);
    position: fixed;
    width: 100%;
    top:0;
    z-index: 300;
  }


  .main-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .3s linear;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
  }

  .main-nav.show{
    margin-left: 0;
  }

  .nav-links{
    background-color:var(--grayColor);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    font-weight:400;
  }

  .link-item{
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  .link-item::after {
    position: absolute;
    content: "";
    background-color: var(--backgroundColor);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }

  .link-item:hover::after {
    width: 100%;
    border-radius: 3px;
  }

  .button-menu{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12px;
  }

  .button-menu span{
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--white);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }

  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }

  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-6px, 3px)
  }

  .button-menu.close span:nth-child(3){
    display: none;
  }


  .main{
    margin-top:50px;
    padding: 0 15px;
  }

  .home-content{
    width: 160px;
  }

  .home{
    position: relative;
  }
  .home-name{
    padding: 10px 0;
    width: 140px;
    border-bottom:solid 4px var(--white);
  }
  .home-flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .home-name>.title{
    text-transform:capitalize;
    font-size: 25px;
    font-weight:400;
    color: var(--white);
    line-height: 40px;
  }

  .home-name>.title >span{

    font-weight:700;
    color: var(--bluelight);
    letter-spacing: 1.8px;
    font-size: 45px;
  }

  .home-programmer{
    padding: 12px 0;
  }
  .home-programmer>.title2{
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
   }

   .home-experience{
    padding: 20px 0 10px 0 ;
    padding-left: 10px;

   }

   .home-experience>.title2{
    text-transform: capitalize;
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    padding-top: 5px;

  }

  .home-experience>.title2 >span{

    font-weight:700;
    color: var(--bluelight);
   }

   .home-social>div{
     display: flex;
     justify-content: space-around;
      /* flex-direction: column; */
    }

   .home-social>div>img{
     background-color: var(--grayColor);
     padding: 3px;
     width: 20px;
     border-radius: 25%;
   }

   .home-photo>.img300px{
      position: absolute;
      top:30px;
      left: 7vw;
      padding: 5px;
      z-index: 2;
    /* display:none; */
  }
  .home-photo> .img310px, .img320px, .img400px, .img420px , .img450px, .img500px{
    display: none;
  }

  .span{
    position: absolute;
    top:35px;
    left: 12vw;
    padding: 140px;
    opacity: 25%;
    border-radius: 50%;
    background-color: var(--grayColor);
  }



    .home-icons{
      z-index: 7;
      bottom: -200px;
      left: 12vw;
      width: 75%;
      position: absolute;
      border-radius: 15px;
      /* opacity: 25%; */
      padding: 15px 10px;
      background-color:  #494d55;
    }

    .home-icons-flex{
      display: flex;
      justify-content: space-around;
    }
    .home-photo>.home-icons>div>.home-icons-hijo {
      width: 40px;
      padding: 10px;
      border-radius: 50%;
      background-color: var(--white)
    }
    
    .home-photo>.home-icons>div>#linkedin ,#git {
      opacity: 70%;
    }

    .home-aboutme{
      margin-top: 170px;
      padding-top: 10px;
      
    }
    .home-aboutme>h3{
    text-transform: capitalize;
    color: var(--bluelight);
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    }

    .home-aboutme>p{

      color: var(--white);
      font-weight: 400;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      }

  @media screen and (min-width:380px) {

    .home-icons{

      width: 68vw;
    }
  }

  @media screen and (min-width:404px) {

    .home-photo>.img300px{
      display:none
    }

    .home-photo>.img310px{
      display: block;
      position: absolute;
      top:60px;
      left:12vw;
      z-index: 5;

    }


    .span{
      top:20px;
      left: 12vw;
      padding: 160px;
    }
    


    .home-icons{
      bottom: -240px;
      left: 12vw;
      width: 75vw;
    }
    .home-aboutme
    {
      margin-top: 10px;
      padding-top: 10px;
    }

 
  }


  @media screen and (min-width:420px) {
    .home-icons{

      width: 71vw;
    }
  }

  @media screen and (min-width:450px) {

    .home-name{
      width: 180px;
    }
    .-home-name>.title{
      font-size: 35px;
      line-height: 50px;
    }

    .home-name>.title >span{

      letter-spacing: 2px;
      font-size: 55px;
     }

     .home-programmer>.title2, .home-experience>.title2{
      font-size: 25px;
     }

     .home-social>div>img{
      padding: 5px;
      width: 25px;

    }


    .home-photo>.img310px{
      display:none;

    }
      .home-photo>.img400px{
        display: block;
        position: absolute;
        top:20px;
        left:6vw;
        z-index: 5;
      }

      .span{

        /* top:35px; */
        left: 13vw;
        padding: 170px;
      }

      .home-icons{

        bottom: -250px;
        left: 18vw;
        width: 65vw;
      }

  }

  @media screen and (min-width:460px){
    .home-photo>.img400px{

      left:8vw;

    }
    .span{

      left: 15vw;
      padding: 170px;
    }
  }

  @media screen and (min-width:485px){
    .home-photo>.img400px{

      left:12vw;

    }
    .span{

      left: 19vw;
    }
    .home-icons{
      /* bottom: -250px; */
      left: 20vw;
      width: 65vw;
    }
  }

  @media screen and (min-width:500px) {
    .home-icons{
      /* bottom: -250px; */
      left: 20vw;
      width: 60vw;
    }
  }

  @media screen and (min-width:540px) {
    .home-icons{

      width: 57vw;
    }

  }
  @media screen and (min-width:570px) {

    .home-photo>.img400px{
      display: none;
    }

    .home-photo>.img420px{
      display: block;
      position: absolute;
      top:10vh;
      left:14vw;
      z-index: 5;
    }

    .span{
      top:3vh;
      padding: 35vw;
      /* padding: 200px; */
      left: 16vw;
    }
    .home-icons{
      bottom: -320px;
      left: 20vw;
      width: 60vw;
    }
  }

  @media screen and (min-width:600px) {
    .home-photo>.img420px{
      display: block;
      position: absolute;
      top:10vh;
      left:16vw;
      z-index: 5;
    }

  }

  @media screen and (min-width:660px) {
    .home-photo>.img420px{
    display: none;
    }


    .home-photo>.img450px{
      display: block;
      position: absolute;
      top:6vh;
      left:15vw;
      z-index: 5;
      }
  }

  @media screen and (min-width:680px) {
    .home-photo>.img450px{
      left:17vw;
      }
  }

  @media screen and (min-width:704px) {
    .home-photo>.img450px{
      left:17vw;
      }

      .span{
        top:-5vh;
        padding: 35vw;
        /* padding: 200px; */
        left: 15vw;
      }
  }


  @media screen and (min-width:750px) {
    .home-photo>.img450px{
      left:18vw;
      }

  
  }

  
  @media screen and (min-width:775px) {
    .home-photo>.img450px{
      display: none;
      }
  
      .home-photo>.img500px{
        display: block;
        left:16vw;
        position: absolute;
        z-index: 5;
        top:0;

        }
  
  }

  @media screen and (min-width:775px) {
    .home-photo>.img450px{
      display: none;
      }
  
      .home-photo>.img500px{
        display: block;
        left:15vw;
        position: absolute;
        z-index: 5;
        top:0;

        }
  
  }

  @media screen and (min-width:790px) {
  
  
      .home-photo>.img500px{
        left:17vw;
        }
  
  }

  @media screen and (min-width:1123px) {
    .button-menu{
      display: none;
    }



    .main-nav{
      position: static;
      height: 100%;
      width: 70%;
    }

    .nav-links{
        justify-content: space-around;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--backgroundColor);
    }

    .link-item:hover{
        color: var(--bluelight);
    }


    .link-item{

        color: var(--white);
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
    }



  }